<div class="profile-container flex column">
  <div class="nav flex column">
    <div class="next-nav flex">
      <a href="/logout">Logout</a>
      <a href="/socks">Find your match!</a>
    </div>
    <div class="your-socks flex">
      {{#each socks}}
      <div class="user-sockcard flex" id={{name}}>
        <img src="./images/testSocks/{{image}}" alt="">
        <secret class="id" id={{_id}}></secret>
      </div>
      {{/each}}
      <div class="add-new-sock flex">
        <span id="add-new-sock">+</span>
      </div>
    </div>
  </div>
  <div class="profile-main">
    {{#if user}}
    <div>
      <a href="/">Index</a>
    </div>
    {{/if}}
  </div>
  <div class="footer flex">
    {{#each chats}}
    <a href="/chat/{{_id}}">
      <div class="matching-socks flex">
        {{#each matchingSocks}}
        <div class="each-sock">
          <img src="./images/testSocks/{{this}}" alt="">
        </div>
        {{/each}}
      </div>
    </a>
    {{/each}}
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./javascripts/myprofile.js"></script>