<div class="profile-container flex column">
  <div class="nav flex column full-width">
    <div class="next-nav flex full-width">
      <div>
        <a href="/logout">Logout</a>
      </div>
      <h3>Footsie</h3>
      <div>
        <a href="/socks">Find your match!</a>
      </div>
    </div>
    <div class="your-socks-container flex">
      <div class="your-socks flex full-width">
        {{#each socks}}
        <div class="profile-user-sockcard flex" id={{name}}>
          <img src={{image}} alt="">
          <secret class="id" id={{_id}}></secret>
        </div>
        {{/each}}
        <div id="add-new-sock-div" class="flex">
          <div id="add-new-sock" class="flex">
            <span>+</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-footer flex full-width column">
    <h3>Matches</h3>
    <div class="matching-socks flex full-width">
      {{#each chats}}
      <div class="match-block flex">
        <a href="/chat/{{_id}}" class="flex">
          {{#each matchingSocks}}
          <div class="each-sock">
            <img src={{this}} alt="">
          </div>
          {{/each}}
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./javascripts/myprofile.js"></script>