<div class="socks-page-container flex column">
  <div class="socks-nav flex full-width">
    <div>
      <a href="/profile-page">Profile</a>
    </div>
    <h3>Footsie</h3>
    <div>
      <a href="/logout">Logout</a>
    </div>
  </div>
  <div class="socks flex column">
    <div class="sock-cards flex full-width">
      {{#each sock}}
      <div class="sock-card flex column hide full-width" data-sockid={{_id}}>
        <div class="sock-image-div">
          <img src={{image}} alt="">
        </div>
        <span>{{sockOwner}}</span>
        <secret class="id">{{_id}}</secret>
      </div>
      {{/each}}
    </div>
    <div class='symbols flex'>
      <span id='match'>&#9825</span>
      <span id='not-match'>&#10005</span>
    </div>
  </div>
  <div class="footer flex">
    {{#each mySocks}}
    <div class="user-sockcard flex column" id={{name}}>
      <img src={{image}} alt="">
      <secret class="id" id={{_id}}></secret>
    </div>
    {{/each}}
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./javascripts/socks.js"></script>